{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %} Login {% endblock %}
{% block content %}
    <h2 class="my-header">Please sign in!</h2>
    <form class="form was-validated row question-form col-6 mx-auto" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="row mt-3 mx-auto">
            <div class="col-12 mx-auto form-floating">
                <input type="email" class="form-control" id="email-input" maxlength="100" placeholder="name@example.com"
                       name="email" required>
                <div class="requirements">Invalid email. Example is "name@example.com".</div>
                <label for="email-input">Email address</label>
            </div>
        </div>
        <div class="row mt-3 mx-auto">
            <div class="col-12 mx-auto form-floating">
                <input type="password" name="password" maxlength="100" class="form-control" id="password-input"
                       placeholder="Password" required pattern="^(?=.*\d)(?=.*[A-Z]).{6,}$">
                <label for="password-input">Password</label>
                <div class="requirements">Invalid password. it must contain one upper and one lowercase letter and at
                    least one number and be 6-100 characters long <br> Example is "aA1fera".
                </div>
            </div>
        </div>
        <div class="row mb-2 mt-2 mx-auto">
            <div class="col-8">
                <div class="error-msg text-end">
                    Sorry, wrong password...
                </div>
            </div>
            <div class="col-4">
                <button class="btn my-btn link border-3 w-100 m-0" type="submit">Sign in!</button>
            </div>
        </div>
    </form>
    <div class="text-center">
        <a class="link font-20" href="#">Create a new account!</a>
    </div>
{% endblock %}



{#{% block content %}#}
{#	<div class="inline">#}
{#		<p class="new_questions">#}
{#			Log In#}
{#		</p>#}
{#	</div>#}
{##}
{#{% bootstrap_css %}#}
{##}
{#	<form action="{% url 'login' %}" method="post" class="form">#}
{#		{% bootstrap_form form %}#}
{#		{% buttons %}#}
{#			<button type="submit" class="btn btn-primary">#}
{#				LogIn#}
{#			</button>#}
{#		{% endbuttons %}#}
{#	</form>#}
{##}
{##}
{#{% endblock %}#}
