{% extends 'base.html' %}
{% block title %} New {% endblock %}

{% block content %}

    <h2 class="my-header">New question</h2>
    <form class="was-validated row question-form">
        <div class="row mt-5">
            <div class="col-3 text-end">
                <label for="question mt-5" class="my-header font-20 ">your question</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control is-valid m-0" id="question" name="new_question"
                       placeholder="How are you?" maxlength="100"
                       title="maximum length 200 characters, it cannot be empty" pattern="^(\s*[\w\p{P}]+\s*)+$"
                       required>
                <div class="requirements">maximum length 200 characters, it cannot be empty or consist only of
                    spaces.<br> Your question can contain only letters of the Latin alphabet, numbers, and punctuation
                    marks.
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3 text-end">
                <label for="question-body" class="my-header font-20 ">more details</label>
            </div>
            <div class="col-9">
                <textarea class="form-control m-0 is-invalid" id="question-body" name="new_question_body"
                          placeholder="enter more details here..." maxlength="300"
                          title="maximum length 300 characters, it cannot be empty" required></textarea>
                <div class="requirements">maximum length 300 characters, it cannot be empty</div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3 text-end">
                <label for="tags-input mt-5" class="my-header font-20 ">tags separated by a space</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control is-valid m-0" name="new_question_tags" id="tags-input"
                       placeholder="food cooking chocolate" maxlength="100"
                       title="maximum length 200 characters, it cannot be empty" pattern="^(\s*[a-zA-Z]+[\w\-\d]*\s*)+$"
                       required>
                <div class="requirements">maximum length 200 characters, it cannot be empty or consist only of spaces.
                    <br> Tag name must start with letter and can consist of one word containing only letters of the
                    Latin alphabet, numbers, underscore or hyphen.
                </div>
            </div>
        </div>
        <button class="btn my-btn link w-25 m-3 mx-auto border-3" type="submit">Ask!</button>
    </form>
{% endblock %}
