{% extends 'base.html' %}
{% block title %} Question {% endblock %}
{% load static %}
{% block content %}
    <div class="question-preview">
        <div class="row">
            <div class="col-2">
                <div class="my-header font-20">
                    {{ question.profile_id }}
                </div>
                <div class="text-center ">
                    <img class="question-avatar" src="{{ question.profile_id.avatar.url }}" alt="avatar">
                </div>
                <div class="like-dislike w-100 mx-auto text-center">
                <div class="btn-group " role="group">
                    <button type="button" class="btn my-btn border-2">+</button>
                    <button type="button" class="btn my-btn border-2">-</button>
                </div>
            </div>
            <div class="like-counter text-center w-100 ">{{ question.rating }}</div>
            </div>
            <div class="col-10">
                <div class="question-header">
                    <span class="question-header">{{ question.title }}</span>
                </div>
                <p class="font-20">
                    {{ question.text }}
                </p>
                <div class="row">
                    <div class="col-3">
                        <a class="link font-20"
                           href="{% url 'question' question.id %}">answers({{ question.number_of_answers }})</a>
                    </div>
                    <div class="col-9 word-spacing-1-5">
                        <span class="font-20">Tags:</span>
                        {% for tag in question.tags.all %}
                            <a class="link font-20" href="{% url 'questions_by_tag' tag %}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <hr>
    {% for answer in answers %}
        {% include 'include/answer.html' %}
    {% endfor %}
    {% include 'include/paginator.html' %}
{% endblock %}